
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


/* Header section */
#header {
	position: relative;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
    text-align: center;
}
.brand p{
    text-align: center;
}
#header .header {
	min-height: 8vh;
	background-color:#eecfc4;
	transition: 0.3s ease background-color;
}

#id map{
    padding-bottom: 5px;
}

body{
    background: #5db9d3;
    height: auto;
    text-align: center;
   
}
.my-photo{
    float: left;
    
}
p{
    text-align: justify;
    font-size: 23px;
}
#hp {
    float: left;    
     margin: 0 15px 0 0;
    }
.about-img{
    float: left;
}
#ai {
    float: left;    
     margin: 0 15px 0 0;
}